p {
  text-align: center;
  flex: 5
}

header{
  background: #61dafb;
  text-align: center;
  flex: 2
}

footer{
  background: yellow;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
